<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10180315144-av0sshnm8th06u6s92pk1bva2s21dnqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10180315144-av0sshnm8th06u6s92pk1bva2s21dnqf</string>
	<key>API_KEY</key>
	<string>AIzaSyDCee6goYg47L3YuLPr8VumcGBHMMvSRis</string>
	<key>GCM_SENDER_ID</key>
	<string>10180315144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-515df</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-515df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10180315144:ios:db412ce0a7ddb23a7129bd</string>
</dict>
</plist>